Package: com.hidoxd.lsclock
Name: LSClock
Depends: mobilesubstrate (>= 0.9.7000)
Version: 2.0.1
Architecture: iphoneos-arm64
Description: Modern and stable lockscreen clock tweak for iOS 18+ (Dopamine 3.0)
Maintainer: hidoxd
Author: hidoxd
Section: Tweaks
