Package: com.hidoxd.lsclock
Name: LSClock
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Anime GIF Clock for LockScreen
Maintainer: hidoxd
Author: hidoxd
Section: Tweaks
